*{
    margin: 0;
    padding: 0;

    /*For diabling text selection*/
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #9c9c9c;
    /* overflow: hidden; */
}

/************************/
/*GENERAL STYLING*/
/*************************/

.game-area{
    height: 100vh;
    display: flex;
    /* border: 4px solid black; */
}

/* .video-background { 
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} */

#my_audio{
    visibility: hidden;
}


@keyframes picking{
    0%{background-image: url("./media/animation/1.jpg");}
    10%{background-image: url("./media/animation/2.jpg");}
    20%{background-image: url("./media/animation/3.jpg");}
    35%{background-image: url("./media/animation/4.jpg");}
    50%{background-image: url("./media/animation/5.jpg");}
    65%{background-image: url("./media/animation/5.png");}
    85%{background-image: url("./media/animation/6.jpg");}
    80%{background-image: url("./media/animation/7.jpg");}
}

/*******************************/
/*CARD STYLING******************/
/*******************************/

/* #player-1-role::before{
    content: '👑';
} */

.palyer-container{
    /* border: 2px solid red; */
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    width: 400px;
    height: 800px;
    margin: 0 auto;
    border-radius: 15px;
}

.character-image{
    /* border: 2px solid yellow; */
    height: 500px;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.character-title{
    text-align: center;
    padding: 1.5em;
    background-color: #272727;
}

.character-role{
    margin-top: 0.3em;
}

.character-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 110px;
    text-align: center;
    background-color: #FDDB3A;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.power{
    padding: 0.2em;
    font-size: 2.5rem;
}

.power-head{
    font-size: 1.5rem;
}

.power-container{
    transition: 0.2s;
}

.power-container-hover:hover{
    background-color: white;
    color: black;
}

/************************/
/*TOPOGRAPHY*/
/*************************/

.role{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}




/********************************/
/*DELETE SOON*/

#character-1-image{
    background-image: url("https://vignette.wikia.nocookie.net/gameofthrones/images/d/d9/Battle_of_the_Bastards_42.jpg/revision/latest?cb=20160621185459");
}

#character-2-image{
    background-image: url("./media/arya.jpg");
}


/***************************************/